.dynamic-content {
  h2 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    span {
      font-size: 20px;
      line-height: 30px;
      font-weight: 600;
      strong {
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
      }
    }
  }
  h3 {
    font-size: 24px !important;
    line-height: 30px !important;
    margin-bottom: 20px !important;
    font-weight: 600 !important;
    span {
      font-size: 24px !important;
      line-height: 30px !important;
      font-weight: 600 !important;
      strong {
        font-size: 24px !important;
        line-height: 30px !important;
        font-weight: 600 !important;
      }
    }
  }
  h4 {
    line-height: 30px !important;
    margin-bottom: 20px !important;
    font-weight: 600 !important;
    span {
      font-weight: 600 !important;
      strong {
        font-weight: 600 !important;
      }
    }
  }
  p {
    word-wrap: break-word;
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    span {
      word-wrap: break-word;
      font-size: 16px !important;
      line-height: 24px !important;
      margin-bottom: 10px !important;
    }
    strong {
      span {
        font-weight: 600;
        font-style: normal !important;
        font-size: 16px !important;
      }
    }
  }
  strong {
    font-weight: 600 !important;
  }
  ul > li:last-child,
  ol > li:last-child {
    margin-bottom: 10px;
  }
}
